<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>INICIO DE SESIÓN</title>
    <link rel="stylesheet" href="/public/css/Inicio_de_sesión.css">
</head>
<body>
    <div id="login-container">
            <img src="/public/img/brand/Tecno2 - copia.png" alt="Logo de la empresa" class="logo">
    <H1>INICIO DE SESIÓN</H1>
        <form action="app/views/auth/process_login.php" method="post">

            <input type="text" id="username" name="username" required placeholder="Usuario"><br><br>

            <input type="password" id="password" name="password" required placeholder="Contraseña"><br><br>

            <input id="IniciarSesion" type="submit" value="Iniciar Sesión">
            <input id="Registrarse" type="submit" value="Registrate aquí" onclick="window.location.href='registro.html'; return false;">

            <button id="ver_contra" type="button" class="toggle-password" onclick="togglePassword('password')">👀</button>
            
            </div>
        </form>
    </div>

    <script src="/app/views/auth/process_login.php"></script>
    <script>
        function togglePassword(id) {
            const input = document.getElementById(id);
            if (input.type === 'password') {
                input.type = 'text';
            } else {
            input.type = 'password';
            }
        }
    </script>
</body>
</html>